package ${packageName}.entity;

#if(!${needVo})
import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.youlan.system.excel.anno.ExcelDictProperty;
import com.youlan.system.excel.converter.DictConverter;
#end
#if(!${needPageDto})
import com.youlan.common.db.entity.dto.PageDTO;
import com.youlan.common.db.anno.Query;
import com.youlan.common.db.enums.QueryType;
import lombok.EqualsAndHashCode;
#end
#if(!${needDto})
import com.youlan.common.validator.anno.*;
#end
import com.youlan.common.core.db.constant.DBConstant;
import io.swagger.v3.oas.annotations.media.Schema;
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;

import javax.validation.constraints.*;
import java.util.Date;

@Data
@TableName("${tableName}")
#if(${needPageDto})
public class ${EntityName} {
#else
#if(!${needVo})
@ExcelIgnoreUnannotated
#end
@EqualsAndHashCode(callSuper = true)
public class ${EntityName} extends PageDTO {
#end

#foreach($column in ${entityColumns})
    #if(${column.excelAnnoList})
    #foreach($excelAnno in ${column.excelAnnoList})
    $excelAnno
    #end
    #end
    #if(${column.queryAnno})
    ${column.queryAnno}
    #end
    #if(${column.validatorAnnoList})
    #foreach($validatorAnno in ${column.validatorAnnoList})
    $validatorAnno
    #end
    #end
    #if(${column.apiModelPropertyAnno})
    ${column.apiModelPropertyAnno}
    #end
    #if(${column.tableFieldAnno})
    ${column.tableFieldAnno}
    #end
    #if(${column.isCollection} == "1")
    private List<$column.javaType> $column.javaField;
    #else
    private $column.javaType $column.javaField;
    #end

#end
}
