package ${packageName}.entity;

#if(!${needVo})
import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.annotation.write.style.ColumnWidth;
import com.alibaba.excel.annotation.write.style.HeadFontStyle;
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.youlan.common.db.constant.DBConstant;
import com.youlan.system.excel.anno.ExcelDictProperty;
import com.youlan.system.excel.converter.DictConverter;
#end
#if(!${needPageDto})
import lombok.EqualsAndHashCode;
#end
#if(!${needDto})
#end
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import org.springframework.validation.annotation.Validated;

@Data
@TableName("${tableName}")
#if(${needPageDto})
public class ${EntityName} {
#else
#if(!${needVo})
@ColumnWidth(20)
@HeadFontStyle(fontHeightInPoints = 12)
@ExcelIgnoreUnannotated
#end
@EqualsAndHashCode(callSuper = true)
public class ${EntityName} extends PageDTO {
#end

#foreach($column in ${entityColumns})
    #if(${column.excelAnnoList})
    #foreach($excelAnno in ${column.excelAnnoList})
    $excelAnno
    #end
    #end
    #if(${column.queryAnno})
    ${column.queryAnno}
    #end
    #if(${column.validatorAnnoList})
    #foreach($validatorAnno in ${column.validatorAnnoList})
    $validatorAnno
    #end
    #end
    #if(${column.apiModelPropertyAnno})
    ${column.apiModelPropertyAnno}
    #end
    #if(${column.tableFieldAnno})
    ${column.tableFieldAnno}
    #end
    #if(${column.isCollection} == "1")
    private List<$column.javaType> $column.javaField;
    #else
    private $column.javaType $column.javaField;
    #end

#end
}
