package ${packageName}.entity.dto;

import com.youlan.common.db.constant.DBConstant;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

import javax.validation.constraints.*;

@Data
public class ${EntityName}DTO {

#foreach($column in ${dtoColumns})
    #foreach($validatorAnno in ${column.validatorAnnoList})
    $validatorAnno
    #end
    #if(${column.apiModelPropertyAnno})
    ${column.apiModelPropertyAnno}
    #end
    private $column.javaType $column.javaField;

#end
}
