package ${packageName}.entity.dto;

import com.youlan.common.db.entity.dto.PageDTO;
import com.youlan.common.db.anno.Query;
import com.youlan.common.db.enums.QueryType;
import com.youlan.common.core.db.constant.DBConstant;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.util.List;
import java.util.Date;

@Data
@EqualsAndHashCode(callSuper = true)
public class ${EntityName}PageDTO extends PageDTO {

#foreach($column in ${pageDtoColumns})
    #if(${column.queryAnno})
    ${column.queryAnno}
    #if(${column.apiModelPropertyAnno})
    ${column.apiModelPropertyAnno}
    #end
    #if(${column.isCollection} == "1")
    private List<$column.javaType> $column.javaField;
    #else
    private $column.javaType $column.javaField;
    #end

    #end
#end
}
