<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlan.system.mapper.RoleMenuMapper">
    <select id="getMenuPermsListByRoleStr" resultType="string">
        select menu.menu_perms
        from t_sys_role as role
                 left join t_sys_role_menu as role_menu on role.id = role_menu.role_id
                 left join t_sys_menu as menu on role_menu.menu_id = menu.id
        where menu.status = '1'
          and role.status = '1'
          and role.role_str = #{roleStr,jdbcType=VARCHAR}
    </select>

    <select id="getMenuPermsListByUserId" resultType="string">
        select menu.menu_perms
        from t_sys_user as user
                 left join t_sys_user_role as user_role on user.id = user_role.user_id
                 left join t_sys_role as role on role.id = user_role.role_id
                 left join t_sys_role_menu as role_menu on user_role.role_id = role_menu.role_id
                 left join t_sys_menu as menu on menu.id = role_menu.menu_id
        where menu.status = '1'
          and role.status = '1'
          and user.id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="getMenuListByUserId" resultType="com.youlan.system.entity.Menu">
        select menu.*
        from t_sys_user as user
                 left join t_sys_user_role as user_role on user.id = user_role.user_id
                 left join t_sys_role as role on role.id = user_role.role_id
                 left join t_sys_role_menu as role_menu on user_role.role_id = role_menu.role_id
                 left join t_sys_menu as menu on menu.id = role_menu.menu_id
        where menu.status = '1'
          and role.status = '1'
          and user.id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>