<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlan.system.mapper.RoleMapper">

    <sql id="getRoleList">
        select distinct role.*
        from t_sys_role as role
        left join t_sys_user_role as user_role on user_role.role_id = role.id
        left join t_sys_user as user on user.id = user_role.user_id
        left join t_sys_org as org on org.org_id = user.org_id
        where role.sts = '1'
        <if test="role.roleName != null and role.roleName != ''">
            and role.role_name like concat('%', #{role.roleName}, '%')
        </if>
        <if test="role.roleStr != null and role.roleStr != ''">
            and role.role_str like concat('%', #{role.roleStr}, '%')
        </if>
        <if test="role.status != null and role.status">
            and role.status = #{role.status}
        </if>
        <if test="role.createTimeRange != null and role.createTimeRange.size() > 1">
            and role.create_time between #{role.createTimeRange[0]} and #{role.createTimeRange[1]}
        </if>
        <if test="role.idExcludes != null and role.idExcludes.size() > 0">
            and role.id not in
            <foreach collection="role.idExcludes" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>
    </sql>

    <select id="getRolePageList" resultType="com.youlan.system.entity.Role">
        <include refid="getRoleList"/>
    </select>

    <select id="getRoleList" resultType="com.youlan.system.entity.Role">
        <include refid="getRoleList"/>
    </select>

    <select id="hasRoleId" resultType="java.lang.Long">
        select distinct role.*
        from t_sys_role as role
                 left join t_sys_user_role as user_role on user_role.role_id = role.id
                 left join t_sys_user as user on user.id = user_role.user_id
                 left join t_sys_org as org on org.org_id = user.org_id
        where role.sts = '1'
        and role.id = #{roleId}
    </select>

    <select id="hasRoleIds" resultType="java.lang.Long">
        select distinct role.*
        from t_sys_role as role
        left join t_sys_user_role as user_role on user_role.role_id = role.id
        left join t_sys_user as user on user.id = user_role.user_id
        left join t_sys_org as org on org.org_id = user.org_id
        where role.sts = '1'
        and role.id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
</mapper>