<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlan.system.mapper.RoleMenuMapper">
    <select id="getMenuPermsListByRoleId" parameterType="Long" resultType="string">
        select m.menu_perms
        from t_sys_role_menu as rm
                 left join t_sys_menu as m on rm.menu_id = m.id
        where m.status = '1'
          and rm.role_id = ${roleId}
    </select>
</mapper>