<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlan.system.mapper.UserMapper">

    <sql id="getUserList">
        select user.*, org.org_name
        from t_sys_user as user
        left join t_sys_org as org on user.org_id = org.org_id
        where user.sts = '1'
        and org.org_sts = '1'
        <if test="dto.orgId != null">
            and (org.org_id = #{dto.orgId} or find_in_set(#{dto.orgId}, org.org_ancestors))
        </if>
        <if test="dto.userName != null and dto.userName != ''">
            and user.user_name like concat('%', #{dto.userName},'%')
        </if>
        <if test="dto.userMobile != null and dto.userMobile != ''">
            and user.user_mobile like concat('%', #{dto.userMobile},'%')
        </if>
        <if test="dto.nickName != null and dto.nickName != ''">
            and user.nick_name like concat('%', #{dto.nickName} ,'%')
        </if>
        <if test="dto.status != null and dto.status != ''">
            and user.status = #{dto.status}
        </if>
        <if test="dto.createTimeRange != null and dto.createTimeRange.size() > 1">
            and user.create_time between #{dto.createTimeRange[0]} and #{dto.createTimeRange[1]}
        </if>
    </sql>

    <select id="getUserList" resultType="com.youlan.system.entity.vo.UserVO">
        <include refid="getUserList"/>
    </select>

    <select id="getUserPageList" resultType="com.youlan.system.entity.vo.UserVO">
        <include refid="getUserList"/>
    </select>
</mapper>