<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlan.tools.mapper.GeneratorTableMapper">

    <select id="getDbTablePageList" parameterType="com.youlan.tools.entity.DBTable"
            resultType="com.youlan.tools.entity.DBTable">
        select tables.table_name, tables.table_comment, tables.create_time, tables.update_time
        from information_schema.tables as tables
        left join t_tools_generator_table as gen_table on tables.table_name = gen_table.table_name
        where gen_table.table_name is null and table_schema = (select database())
        <if test="dt.tableName != null and dt.tableName != ''">
            and lower(tables.table_name) like lower(concat('%', #{dt.tableName}, '%'))
        </if>
        <if test="dt.tableComment != null and dt.tableComment != ''">
            and lower(tables.table_comment) like lower(concat('%', #{dt.tableComment}, '%'))
        </if>
        <if test="dt.createTime != null">
            and tables.create_time &gt;= #{dt.createTime}
        </if>
        <if test="dt.updateTime != null">
            and tables.update_time &lt;= #{dt.updateTime}
        </if>
        <if test="dt.tableExclude != null">
            and tables.table_name not in
            <foreach collection="dt.tableExclude" item="name" open="(" close=")" separator=",">
                #{name}
            </foreach>
        </if>
    </select>

</mapper>